/* estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}
/*  */

/* cabeçalho */
header{
    padding: 0px;
}

header >.interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: #fff;
    transform: scale(1.10);
    transition: .2s;
}

header nav ul{
    list-style-type: none;
}

header nav li{
    display: inline-block;
    padding: 0 40px;
}

header nav li img{
    background-color: black;
}

header .meu-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    
}
.svg{
    margin-left: 30px;
}

header .meu-contato button:hover{
    box-shadow: 0px 0px 8px #00ff08;
}
.banner{
    margin-top: -30px;
}
/*  */

/* main animation */

.banner img{
    display: block;
    margin: 0 0 0 auto;
    animation: balanco 2s ease-in-out infinite;
    filter: brightness(1.2) drop-shadow(0 0 5px #00ff08);
}

@keyframes balanco {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px); /* Ajuste o valor desejado para a altura do balanço */
    }
}

.especialidades-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cria três colunas com tamanhos iguais */
    grid-gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    animation: balanco 2s ease-in-out infinite;
    filter: brightness(1.2) drop-shadow(0 0 5px #00ff08);

}
.especialidades-img img{
    width: 100%;
    height: auto;
    max-width: 100%;
    height: auto;

}

/*  */

/* main text */

.banner-text{
    color: white;
    float: left;
    width: 50%;
    vertical-align: top;
    margin-left: 60px;
    margin-top: -450px;
    text-align: center;
    font-size: 23px;
}

.especialidades-text{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: #00ff08;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
}

/*  */

/* main projetos */

.projetos{
    color: white;
    display: block;
    text-align: center;
}
.projetos .projeto-item {
    display: block;
    text-align: center;
}
.projetos h1{
    font-size: 40px;
    text-decoration: underline;
    font-style: italic;
}

/*  */